<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>1:1 문의</title>
  </head>
  <body>
    <h1>1:1 문의</h1>
    <form id="inquiry-form">
      <label for="title">제목:</label>
      <input type="text" id="title" placeholder="제목을 입력하세요" required /><br />

      <label for="content">내용:</label>
      <textarea id="content" placeholder="문의 내용을 입력하세요" rows="4" required></textarea><br />

      <button type="submit">문의 제출</button>
    </form>
    <script type="module" src="../../js/inquiryServices/setInquiry.js"></script>
  </body>
</html>
