/* userMain.css */
@font-face {
  font-family: 'omyu_pretty';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'omyu_pretty';
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.icon-button {
  background: none;
  border: none;
  cursor: pointer;
}

.icon-button i {
  font-size: 18px;
}

.icon-button img {
  width: 18px; /* 원하는 크기로 조정 */
}

main {
  width: 1000px;
  height: 800px;
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 0 auto;
}

.centered {
  width: 1000px;
  height: 800px;
  flex: 1;
  justify-content: center;
  align-items: center;
  margin-bottom: 10%;
}

#img #img1 {
  width: 1000px;
}
.centered {
  text-align: center;
}

/* adminPage.css */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

h1 {
  font-size: 36px;
  color: #333;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  margin: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}
