/* Add a background image for a resolution app look */
@font-face {
  font-family: 'omyu_pretty';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'omyu_pretty';
}

body {
  background-size: cover;
  background-repeat: no-repeat;
}

/* Style the main section */
.main-section {
  width: 90%; /* Maintain the original width */
  margin: 0 auto; /* Center the content horizontally */
  padding: 40px; /* Increase padding to add more space */
  background-color: #f9f9f9; /* Light gray background */
  border-radius: 10px; /* Add rounded corners */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  min-height: calc(100vh - 120px); /*
  overflow-y: auto; /* Add vertical scrollbar if needed */
}

/* Style the community list */
#communityList {
  background-color: #fff; /* White background */
  border: 1px solid #ccc; /* Add a border */
  padding: 10px; /* Add padding to each item */
  margin-top: 10px; /* Add margin at the top */
  cursor: pointer; /* Change cursor to pointer on hover */
  border-radius: 10px; /* Add rounded corners */
  width: 90%;
}

#communityList:hover {
  background-color: #f2f2f2; /* Light gray background on hover */
}

/* Style the create post button */
#createCommunity {
  background-color: #007bff; /* Blue button color */
  color: #fff; /* White text color */
  border: none; /* Remove button border */
  padding: 10px 20px; /* Add padding to the button */
  border-radius: 5px; /* Add rounded corners */
  cursor: pointer; /* Change cursor to pointer on hover */
}

/* Adjust other styles as needed for your specific content and design preferences */

#postList {
  height: 90%; /* Set the height to 90% */
  margin-top: 20px;
  /* Add any other styles you want for the postList here */
}
