@font-face {
  font-family: 'omyu_pretty';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'omyu_pretty';
}

.main-section {
  margin-bottom: 50px;
}

.detailSchedule {
  display: flex;
  position: relative;
  z-index: 1; /* 다른 요소 위에 표시되도록 설정 */
}

.sidebar {
  width: 500px;
  height: 100%;
  position: fixed;
  top: 0;
  right: -500px;
  background-color: #fff;
  transition: right 0.3s ease-in-out;
  z-index: 2; /* 다른 요소보다 위에 표시되도록 설정 */
}

.sidebar.active {
  right: 0;
}
/* 스케줄 정보를 표시할 클래스의 스타일 설정 */
.schedule-info {
  padding: 10px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #0056b3;
}

.icon-button {
  color: #000;
}
