@font-face {
  font-family: 'omyu_pretty';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'omyu_pretty';
}

.main-section {
  width: 90%;
  margin: 0 auto; /* Center the content horizontally */
  padding: 20px; /* Add some space around the content */
  background-color: #f9f9f9; /* Light gray background */
  border-radius: 10px; /* Add rounded corners */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  height: 100vh; /* Match the full viewport height */
  overflow-y: auto; /* Add vertical scrollbar if needed */
}

#commentZone {
  border-top: 2px solid #000;
  padding-top: 20px;
  margin-top: 5px;
}

#postZone {
  padding-top: 20px;
  margin-bottom: 20px;
}

.commentName {
  font-weight: 600; /* 두껍게 (글씨 굵기 조정) */
  text-align: left; /* 왼쪽 정렬 */
}

#comment {
  border: 2px solid #000;
  padding: 10px;
  margin-top: 10px;
  box-shadow: 2px 2px 2px 2px rgb(149, 167, 228);
  border-radius: 20px;
}

#postZone {
  display: flex;
  justify-content: space-between;
}

#buttonList {
  margin-top: 20px;
}

.main-section button {
  background-color: #007bff; /* Blue button color */
  color: #fff; /* White text color */
  border: none; /* Remove button border */
  padding: 10px 20px; /* Add padding to the button */
  border-radius: 5px; /* Add rounded corners */
  cursor: pointer; /* Change cursor to pointer on hover */
}
