* {
  margin: 0;
  padding: 0;
}

header {
  background: blue;
  width: 100%;
  text-align: center;
  height: 35px;
}

.title {
  background-color: aliceblue;
  position: fixed;
}

main {
  /* 부모 */
  width: 100%;
  background: pink;
  height: 700px;
  position: relative;
}

footer {
  width: 100%;
  display: flex;
  background: skyblue;
}

.navbar {
  display: flex;
  align-items: center;
  background-color: red;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  width: 100%;
  justify-content: center;
}

.navBar ul {
  display: flex;
}

.navBar li {
  margin-left: 60px;
}

.mainfront {
  width: 500px;
  height: 200px;
  position: relative;
  background: red;
  left: 500px;
}

.test {
  width: 500px;
  height: 200px;
  position: absolute;
  background: blue;
  left: 300px;
  margin-top: 100px;
}
