/* getInquiry.css */
@font-face {
  font-family: 'omyu_pretty';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'omyu_pretty';
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.icon-button {
  background: none;
  border: none;
  cursor: pointer;
}

.icon-button i {
  font-size: 18px;
}

.icon-button img {
  width: 18px; /* 원하는 크기로 조정 */
}

main {
  width: 1000px; /* 원하는 가로 사이즈로 조정 */
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto; /* 수평 가운데 정렬을 위해 추가 */
}

.centered {
  text-align: center;
}

/* getList.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
}

.icon-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.icon-button img {
  width: 18px;
}

main.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 170px); /* 화면 높이에 따른 중앙 정렬 */
}

.main-section {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 800px;
  height: 710px;
}

h1 {
  font-size: 28px;
  margin-bottom: 15px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: #f0f0f0;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #dcdcdc;
}

th {
  font-weight: bold;
}

tbody tr:hover {
  background-color: #f5f5f5;
}
