/* userMain.css */
@font-face {
  font-family: 'omyu_pretty';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'omyu_pretty';
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.icon-button {
  background: none;
  border: none;
  cursor: pointer;
  color: #000;
}

.icon-button i {
  font-size: 18px;
}

.icon-button img {
  width: 18px; /* 원하는 크기로 조정 */
}

main {
  width: 1000px;
  height: 800px;
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 0 auto;
}

.centered {
  width: 1000px;
  height: 800px;
  flex: 1;
  justify-content: center;
  align-items: center;
  margin-bottom: 10%;
}

#img #img1 {
  width: 1000px;
}
.centered {
  text-align: center;
}

/* 목록 스타일 */
.list {
  list-style: none;
  padding: 0;
}

/* 목록 아이템 스타일 */
.list li {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* content 스타일 */
.list li p:nth-child(1) {
  font-weight: bold;
  margin: 0;
}

/* createdAt 스타일 */
.list li p:nth-child(2) {
  font-style: italic;
  margin: 0;
}

/* updatedAt 스타일 */
.list li p:nth-child(3) {
  font-style: italic;
  margin: 0;
}

/* Hover 효과 */
.list li:hover {
  background-color: #f0f0f0;
  /* 마우스 호버 시 배경색 변경 */
}
