/* userMain.css */
@font-face {
  font-family: 'omyu_pretty';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'omyu_pretty';
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  width: 1000px; /* 원하는 가로 사이즈로 조정 */
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto; /* 수평 가운데 정렬을 위해 추가 */
}

.centered {
  text-align: center;
}

#signup {
  height: 30px;
}

.selectUser {
  position: relative;
  top: 100px;
  text-align: center;
  background-color: #43a0fd51;
  width: 380px;
  margin: 0 auto;
  border-radius: 10px;
  height: 450px;
}

.selectUser h1 {
  margin-top: 45px;
}

.selectUser button {
  background: #ccc;
  border: 1px solid #ccc;
  height: 44px;
  width: 100px;
  margin-top: 50px;
  margin-bottom: 3px;
  border-radius: 8px;
  cursor: pointer;
}

.selectUser button:hover {
  background-color: #f0f0f0;
}

.kakaoLogin > img {
  width: 200px;
  margin-top: 20px;
  margin-bottom: -30px;
}

#login-form {
  max-width: 300px;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 5px;
}

#email {
  height: 25px;
  margin-top: 20px;
}

#password {
  height: 25px;
  margin-top: 30px;
}

input[type='text'],
input[type='password'] {
  width: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 10px;
}

/* 포커스 상태일 때 스타일링 */
input[type='text']:focus,
input[type='password']:focus {
  outline: none;
  border-color: #007bff;
  /* 포커스시 색상을 변경하거나 다른 스타일을 추가할 수 있습니다. */
}

label {
  display: block; /* 라벨을 블록 요소로 변경하여 세로로 배치합니다. */
  margin-bottom: 5px; /* 라벨 아래의 간격을 조절할 수 있습니다. */
}
