@font-face {
  font-family: 'omyu_pretty';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'omyu_pretty';
}

.icon-button {
  background: none;
  border: none;
  cursor: pointer;
}

.icon-button i {
  font-size: 18px;
}

.icon-button img {
  width: 18px; /* 원하는 크기로 조정 */
}

/* selectUser */

.selectUser {
  position: relative;
  top: 200px;
  text-align: center;
  background-color: #43a0fd51;
  width: 380px;
  margin: 0 auto;
  border-radius: 10px;
}

.selectUser h1 {
  margin-top: 8px;
}

.selectUser button {
  margin-left: 10px;
  background: #ccc;
  border: 1px solid #ccc;
  height: 44px;
  margin-bottom: 3px;
  border-radius: 8px;
  cursor: pointer;
}

.selectUser button:hover {
  background-color: #f0f0f0;
}
