/* userMain.css */
@font-face {
  font-family: 'omyu_pretty';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'omyu_pretty';
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.icon-button {
  background: none;
  border: none;
  cursor: pointer;
}

.icon-button i {
  font-size: 18px;
}

.icon-button img {
  width: 18px; /* 원하는 크기로 조정 */
}

main {
  width: 1000px; /* 원하는 가로 사이즈로 조정 */
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto; /* 수평 가운데 정렬을 위해 추가 */
}

.main-section {
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
  height: 350px;
}

.centered {
  text-align: center;
}

table {
  border-collapse: collapse;
  height: 270px;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/* 테이블 셀 스타일 */
td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

/* 라벨 스타일 */
td strong {
  font-weight: bold;
}

/* 사용자 정보 스타일 */
span {
  font-weight: bold;
}

/* 마지막 행에는 아래 경계선을 추가하지 않음 */
tr:last-child td {
  border-bottom: none;
}

#editButton {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 12px 24px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 30px; /* 버튼과 상단 간격 조정 */
}

#editButton:hover {
  background-color: #0056b3;
}
