@font-face {
  font-family: 'omyu_pretty';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'omyu_pretty';
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.icon-button {
  background: none;
  border: none;
  cursor: pointer;
}

.icon-button i {
  font-size: 18px;
}

.icon-button img {
  width: 18px; /* 원하는 크기로 조정 */
}

.centered {
  width: 1200px;
  height: 1800px;
  flex: 1;
  display: block;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: relative;
}

#pencil a img {
  width: 35px;
  height: 30px;
  border: none;
  position: absolute;
  right: 0;
  top: 15px;
  right: 290px;
}

#pencil a img:hover {
  border-bottom: 3px solid #ccc;
}
