@font-face {
  font-family: 'omyu_pretty';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'omyu_pretty';
}

/* 기존 스타일 유지 */
.centered {
  text-align: center;
}

.main-section {
  padding: 20px;
}
/* userMain.css */
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.icon-button {
  background: none;
  border: none;
  cursor: pointer;
}

.icon-button i {
  font-size: 18px;
}

.icon-button img {
  width: 18px; /* 원하는 크기로 조정 */
}

main {
  width: 1000px; /* 원하는 가로 사이즈로 조정 */
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto; /* 수평 가운데 정렬을 위해 추가 */
}

.centered {
  text-align: center;
}
