<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Example</title>
  </head>
  <body>
    <h1>Login</h1>
    <form id="login-form">
      <input type="text" id="email" placeholder="Username" required />
      <input type="password" id="password" placeholder="Password" required />
      <button type="submit">Login</button>
    </form>
    <!-- 외부 JavaScript 파일 불러오기 -->
    <script type="module" src="../../js/login/userLogin.js"></script>
  </body>
</html>
