/* userMain.css */
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.icon-button {
  background: none;
  border: none;
  cursor: pointer;
}

.icon-button i {
  font-size: 18px;
}

.icon-button img {
  width: 18px; /* 원하는 크기로 조정 */
}

main {
  width: 1000px; /* 원하는 가로 사이즈로 조정 */
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: ffffff;
  margin: 0 auto; /* 수평 가운데 정렬을 위해 추가 */
}

/* 기존의 CSS 규칙을 여기에 추가하세요 */

/* 업체 등록 섹션에 대한 스타일링 */
.registration-section {
  min-width: 800px;
  max-width: 1000px; /* 필요에 따라 이 값을 조정하세요 */
  margin: 0 auto;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
}

#registration-form {
  background-color: #ffffff;
  padding: 15px;
  border-radius: 10px;
}

/* 라벨에 대한 스타일링 */
.registration-section label {
  display: inline-block;
  width: 150px; /* 라벨 너비를 조정하세요 */
  font-weight: bold;
  margin-bottom: 5px;
}

/* 입력 필드에 대한 스타일링 */
.registration-section input[type='text'],
.registration-section input[type='tel'],
.registration-section input[type='url'] {
  width: calc(100% - 170px); /* 라벨 너비를 기준으로 입력 필드 너비 조정 */
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* 제출 버튼에 대한 스타일링 */
.registration-section button[type='submit'] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}
.centered {
  text-align: center;
}

.custom {
  color: black;
  text-decoration: none;
}

.custom:hover {
  color: darkgray;
}
