<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../css/userMain.css" />
    <link rel="stylesheet" href="../../css/trainer.css" />
    <!-- <script type="module" src="../js/trainer/trainerApi.js"></script> -->
    <title>트레이너</title>
  </head>
  <body>
    <header>
      <nav class="navigation">
        <div class="navigation-title">
          <h1 class="header-title">chat Diet plan</h1>
        </div>
        <div class="navigation-buttons">
          <button class="icon-button"><img src="../img/free-icon-font-search-3917132.png" alt="검색" /></button>
          <button class="icon-button">로그인 해주세요</button>
        </div>
      </nav>
    </header>
    <main class="centered">
      <section class="main-section">
        <div class="contractContaier">
          <div class="contract">여기 계약목록 보여줄꺼</div>
        </div>
      </section>
    </main>

    <footer>
      <ul class="footer-list">
        <a href="/myUser"
          ><li><img src="../img/free-icon-font-calendar-3917244.png" />내 회원</li>
        </a>
        <a href="/trainer">
          <li><img src="../img/free-icon-training-9958263.png" />스케줄</li>
        </a>
        <a href="/chatMain">
          <li><img src="../img/free-icon-font-envelope-3916611.png" />채팅</li>
        </a>
        <a href="/communityMain">
          <li><img src="../img/free-icon-font-world-3916979.png" />커뮤니티</li>
        </a>
        <a href="/userInfo">
          <li><img src="../img/free-icon-font-user-3917688.png" />마이페이지</li>
        </a>
      </ul>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="module" src="../js/trainer/tainer.js"></script>
    <script type="text/javascript" src="../../js/contract/getcontract.js"></script>
    <script type="text/javascript" src="../../js/contract/deletcontract.js"></script>
  </body>
</html>
