<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/trainer/trainer.css" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Document</title>
  </head>
  <body>
    <h1>나의 캘린더</h1>
    <div class="detailSchedule">
      <div class="sidebar" style="margin-left: 20px">
        <!-- 사이드바 내용 -->
      </div>
    </div>
    <script type="module" src="../../js/schedule/trainerCalender.js"></script>
  </body>
</html>
