<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <link rel="stylesheet" href="../css/postUserCalender.css" />
    <title>캘린더 추가하기</title>
  </head>
  <body>
    <div class="container">
      <h1>캘린더 추가하기</h1>
      <form id="write-schedule-form">
        <label for="date">날짜:</label>
        <input type="date" id="date" required />

        <label for="startTime">시작 시간:</label>
        <input type="time" id="startTime" required />
        <!-- 5분(300초) 간격으로 선택 -->

        <label for="endTime">종료 시간:</label>
        <input type="time" id="endTime" required />
        <!-- 5분(300초) 간격으로 선택 -->

        <label for="title">제목:</label>
        <input type="text" id="title" required />

        <button type="submit">작성</button>
      </form>
    </div>
    <script src="../../js/schedule/postTrainerCalender.js"></script>
  </body>
</html>
