<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>문의 목록</title>
  </head>
  <body>
    <h1>문의 목록</h1>
    <table>
      <thead>
        <tr>
          <th>제목</th>
          <th>내용</th>
          <th>작성일</th>
        </tr>
      </thead>
      <tbody id="inquiry-list">
        <!-- 문의 목록이 여기에 추가될 것입니다 -->
      </tbody>
    </table>

    <!-- 외부 JavaScript 파일 불러오기 -->
    <script type="module" src="../../js/inquiry/getInquiry.js" defer></script>
  </body>
</html>
