/* Style for the main section */
.main-section {
  width: 90%;
  margin: 0 auto; /* Center the content horizontally */
  padding: 20px; /* Add some space around the content */
  background-color: #f9f9f9; /* Light gray background */
  border-radius: 10px; /* Add rounded corners */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  height: 100vh; /* Match the full viewport height */
}

/* Style for the company information section */

#myTainerInfo {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-top: 200px;
  color: #333;
}

#ptContent {
  border-top: 1px solid #ccc;
  width: 400px;
}

#trainerName {
  border-top: 1px solid #ccc;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #0056b3;
}

.icon-button {
  color: #000;
}

#image {
  width: 200px;
  height: 300px;
}
