<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../css/OwnerCompany/getOwnerCompany.css" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="../../js/OwnerCompany/getOwnerCompany.js"></script>
    <title>Your Project</title>
  </head>
  <body>
    <header>
      <nav class="navigation">
        <div class="navigation-title">
          <h1 class="header-title">chat Diet plan</h1>
        </div>
        <div class="navigation-buttons">
          <button class="icon-button"><img src="../img/free-icon-font-search-3917132.png" alt="검색" /></button>
          <button class="icon-button">로그인 해주세요</button>
        </div>
      </nav>
    </header>
    <main class="centered">
      <section class="main-section">
        <div id="companyImage"></div>
        <div class="company-info">
          <h2 id="company-name"></h2>
          <p id="company-address"></p>

          <div class="info-box" id="info-box">
            <!-- 정보 표시 -->
          </div>
          <div class="companyReview" id="companyReview">리뷰가 존재하지 않습니다.</div>
          <div class="trainer-box" id="trainer">
            <!-- 트레이너 정보 표시-->
            <!--혜민님 이미지 3번입니다.-->
            트레이너가 존재하지 않습니다.
          </div>
          <div class="edit-button-container">
            <button id="edit-button">수정하기</button>
            <button id="delete-button">업체 삭제</button>
          </div>
        </div>
      </section>
    </main>
    <footer>
      <ul class="footer-list">
        <li>
          <a class="custom" href="http://localhost:3000/getOwnerCompany"> <img src="../img/free-icon-font-calendar-3917244.png" />내업체 </a>
        </li>
        <li>
          <a class="custom" href="http://localhost:3000/setOwnerCompany"><img src="../img/free-icon-training-9958263.png" />업체등록</a>
        </li>
        <a href="/userInfo">
          <li><img src="../img/free-icon-font-user-3917688.png" />마이페이지</li>
        </a>
      </ul>
    </footer>
  </body>
</html>
