<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../css/OwnerCompany/getOwnerCompany.css" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="../../js/OwnerCompany/getOwnerCompany.js"></script>
    <title>Your Project</title>
  </head>
  <body>
    <header>
      <nav class="navigation">
        <div class="navigation-title">
          <h1 class="header-title">chat Diet plan</h1>
        </div>
        <div class="navigation-buttons">
          <button class="icon-button"><img src="../img/free-icon-font-search-3917132.png" alt="검색"></button>
          <button class="icon-button">로그인 해주세요</button>
        </div>
      </nav>
    </header>  
    <main class="centered">
      <section class="main-section">
        <!-- 메인 콘텐츠 -->
        <div class="company-info">
          <img src="https://item.kakaocdn.net/do/dc9561970173c28a13654c3f14180b4bf43ad912ad8dd55b04db6a64cddaf76d" alt="Company Image" class="main-image">
          
          <div class="small-images">
            <img src="https://pbs.twimg.com/profile_images/1615738154333667331/NTng-9ke_400x400.jpg" alt="Small Image 1" class="small-image">
            <img src="https://pbs.twimg.com/media/F0-WLupacAAI9gC?format=jpg&name=900x900" alt="Small Image 2" class="small-image">
            <!-- 작은 이미지 -->
          </div>
          
          <h2 id="company-name"></h2>
          <p id="company-address"></p>
          
          <div class="info-box" id="info-box">
            <!-- 정보 표시 -->
          </div>
          
          <div class="trainer-card">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTxs8H7J0SCUt6g_YfSKsQzPhyJcyYwXny4Vk3gVqxItxRKjKxEgRYcJjqb8is6SdJZBCE&usqp=CAU" alt="Trainer Image" class="trainer-image">
            <p><b>김동현</b></p>
          </div>
          <div class="edit-button-container">
            <button id="edit-button">수정하기</button>
            <button id="delete-button">업체 삭제</button>
          </div>
        </div>
        
      </section>
    </main>
    <footer>
      <ul class="footer-list">
        <li><img src="../img/free-icon-font-calendar-3917244.png" >캘린더</li>
        <li><img src="../img/free-icon-training-9958263.png">헬스장</li>
        <li><img src="../img/free-icon-font-envelope-3916611.png" >채팅</li>
        <li><img src="../img/free-icon-font-world-3916979.png">커뮤니티</li>
        <li><img src="../img/free-icon-font-user-3917688.png" >마이페이지</li>
      </ul>
      </ul>
    </footer>
  </body>
</html>
